.nav-extended {
    background-color: black;
}

nav li a {
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    
    text-decoration: none;
  }
  
  nav li a:hover:not(.active) {
    background-color: #ffa31a;
    color:#111
  }
  
  nav a.active:hover{
    background-color: #ffa31a;
  }
  nav .active {
    background-color: #ffa31a;
    color:#111;
  }
 
  nav img {
    height: 4rem;
    float: left;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
  }
  .sidenav{
    background-color: #111!important;
  }
  .sidenav li>a{
    color: rgb(255, 255, 255)!important;
  }
  .sidenav li a:hover:not(.active) {
    background-color: #ffa31a;
    color: #111 !important;
  }
  
  .sidenav a.active:hover{
    background-color: #ffa31a;
  }
  .sidenav .active {
    background-color: #ffa31a;
    color: #111 !important;;
  }